/* TABS */
.tabs {
  background-color: #FFF;
  border-right: solid 1px #d1d5db;

  .tab{
    display: inline-block;
    position: relative;
    padding: 10px 0;
    border-right: solid 1px #d1d1d1;

    a{
     margin-left: -4px;
      padding: 10px 30px;
      color: #000;
      font-family: "Verdana", Geneva, sans-serif;
      text-decoration: none;

      &.active{
        background-color: #ea7c00;
        color: #fff;
      }
    &:hover{
      border-bottom: solid 2px #ea7c00;
    }
    &.active:hover {
      border-bottom: none;
    }
    }
  }
}
